<h1>Add new entry</h1>
<form #addEntryForm="ngForm" *ngIf="entries.length > 0">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Song</th>
        <th>Artist</th>
        <th>Points</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of entries">
        <td>{{ entry.index }}</td>
        <td>
          <input type="text" class="form-control">
        </td>
        <td>
          <input type="text" class="form-control">
        </td>
        <td>{{ entry.score }}</td>
      </tr>
    </tbody>
  </table>
  <button type="submit" class="btn btn-success">Submit</button>
</form>